faster-whisper==1.1.0
nvidia-cublas-cu12==12.4.5.8
nvidia-cudnn-cu12==9.1.0.70
requests==2.32.3
pypdf==5.1.0
python-docx==1.1.2
PyMuPDF==1.24.11
opencv-python-headless==4.10.0.84
pytesseract==0.3.13
Pillow==10.4.0
